body {
    font-family: Arial;
    display: grid;
    overflow: hidden;
    margin: 0;
    background-color: #1C1E22;
    justify-items: center;
}

#menuContainer {
    display: block;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.menuBtn {
    border: 3px solid #FF3501;
    background-color: #1C1E22;
    color: #FF3501;
    width: 100%;
    height: 20%;
    margin-top: 30px;
    font-size: 30pt;
    font-weight: 900;
}

.menuBtn:hover {
    border: 3px solid #FFA733 !important;
    color: #FFA733 !important;
}

button:hover, #exitBtn:hover {
    cursor: pointer;
}

#rankingContainer {
    display: none;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

table {
    width: 100%;
    box-shadow: 0 0 3px 0 #FF3501;
}

h2 {
    display: none;
    font-size: 24pt;
    color: #FF3501;
    margin: 75px;
}

td, th {
    background-color: #222222;
    color: gray;
    padding: 10px;
}

.messageDiv, .score {
    position: fixed;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    max-width: 300px;
    padding: 30px;
    background-color: #1C1E22;
    color: white;
    font-size: 16pt;
    text-align: center;
}

.selected {
    border: 3px solid #FFA733 !important;
    color: #FFA733 !important;
}

.arrow {
    position: absolute;
    margin: 20px;
    width: 50px;
    height: 50px;
}

a:hover {
    cursor: pointer;
}

img {
    width: 100%;
    max-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#gameContainer {
    display: none;
}

.formContainer {
    display: grid;
    width: 100%;
    max-width: 300px;
    padding: 10px;
}

input {
    box-sizing: border-box;
}

input {
    width: 100%;
    margin: 7px;
    padding: 8px;
    font-size: 14pt;
    color: #FF3501;
    background-color: #222222;
    border: none;
    box-shadow: 0 0 2px 0 #FF3501;
}

input[type=submit], input[type=button] {
    box-shadow: none;
    background-color: #FFA733;
    color: #222222;
}

input[type=submit]:hover, input[type=button]:hover {
    box-shadow: 0 0 2px 0 #222222;
    cursor: pointer;
}

#signupContainer {
    display: none;
}

p {
    color: #FF3501;
}

a {
    text-decoration: none;
    color: #FFA733;
}
