<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/login.js"></script>
</head>
<body>

	<img id="logo" src="img/logo.svg"></img>

	<div id="signupContainer" class="formContainer">
		<form action="/singup" method="post">
	        <input type="text" name="username" placeholder="Username" required><br>
	        <input type="password" name="password1" placeholder="Contraseña" required><br>
	        <input type="password" name="password2" placeholder="Repitra Contraseña" required><br>
			<input type="submit" value="Registrarse">
			<% if(this.error) { %>
				<p class="error"><%= error %></p>
			<% } %>
			<p>¿Tienes una cuenta? <a id="entraLink">Entra</a></p>
	    </form>
	</div>
	<div id="loginContainer" class="formContainer">
	    <form action="/login" method="post">
	        <input type="text" name="username" placeholder="Username" required><br>
	        <input type="password" name="password1" placeholder="Contraseña" required><br>
			<input type="submit" value="Entrar"><br>
			<% if(this.error) { %>
				<p class="error"><%= error %></p>
			<% } %>
			<p>¿No tienes una cuenta? <a id="registrateLink">Regístrate</a></p>
	    </form>
	</div>
</body>
</html>
